{{ define "navbar" }}
<div class="mb-3">
    <nav class="navbar navbar-expand-lg bg-light p-0">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/transfers" class="nav-link">Transfers</a>
            </li>
            <li class="nav-item">
                <a href="/financialTransactions" class="nav-link">Transactions</a>
            </li>
            <li class="nav-item">
                <a href="/financialReports" class="nav-link">Reports</a>
            </li>
        </ul>
    </nav>
</div>
{{ end }}